.fade.in {
  opacity: 1;
}
.message-field {
  height: 100%;
}
.text-field {
  width: 100%;
  min-height: 100%;
  max-height: 600px;
  resize: none;
  overflow: auto;
}
.add-channel {
  margin-top: 60px;
}